<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PillTrader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C02476771E7A7A7600715210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C024768B1E7A7A7600715210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C02476961E7A7A7600715210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
